@charset "utf-8";
/* *****************************
 *
 * Import file to Scss or Sass.
 *
 **************************** */


@mixin wrap {
   width: 950px;
   margin: 0 auto;
}
$fCol01: #202020;
$fCol02: #fff;
$support-ie6: false;
$support-ie7: true;
$support-ie8: true;
$support-ie9: true;
$support-mozilla: true;
$support-webkit : true;
$support-opera  : true;
@mixin clearfix {
        @if $support-ie6 or $support-ie7 {
            *zoom: 1;
        }
        &:after {
            content: "."; 
            display: block;
            clear: both;
            height: 0; 
            visibility: hidden;
        }
}

body{
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: 'メイリオ','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro',Meiryo,'ＭＳ ゴシック',sans-serif;
  line-height: 24px;
  color: $fCol01;
}

#header{
  width: 100%;
  height: 168px;
  background: url("../img/header_bg.jpg") no-repeat;
  background-size: cover;

  .inner{
    @include wrap;
    @include clearfix;
    height: 168px;

    h1{
      float: left;
      margin: 0;
      padding: 48px 0 48px 28px;
      width: 382px;
      background-color: #382009;
    }

    .info{
      float: right;
      width: 500px;
      /*border: 1px solid #000;*/

      p{
        float: right;
        margin: 0;
        padding: 8px 0 12px;
        font-size: 10px;
        color: $fCol02;
        /*border: 1px solid #000;*/
      }

      dl{
        float: left;
        margin: 0 0 0 113px;
        color: $fCol02;

        dt{
          padding-left: 33px;
          font-size: 28px;
          font-family: "Garamond";
          background: url("../img/tel_icon.png") no-repeat;
         }

        dd{
          margin: 0;
          font-size: 10px;
          font-weight: 100;
        }
      }

      .contact{
        margin: 0;
        padding: 0;
      }

      .gnav{
        @include clearfix;
        position: absolute;
        margin-top: 110px;

        ul{
          margin: 0;
          padding: 0;
          font-size: 0;
          li{
            display: inline-block;
            width: 100px;
            list-style: none;
            a{
                display: block;
                text-decoration: none;
                color: #fff;
                text-align: center;
              }
              .first{
                text-align: left;
              }

              .last{
                text-align: right;
              }
          }
        }
      }
    }
  }
}

#main_img{
  width: 100%;
  height: 192px;
  background: url("../img/main.jpg") center center no-repeat;
  border-top: 3px solid #53391f;
  border-bottom: 3px solid #53391f;

  .inner{
    @include wrap;
    @include clearfix;

    h2{
      margin-left: 152px;
      font-size: 35px;
      font-family: "A-OTF Ryumin Pro";
    }

    p{
      margin-left: 152px;
      font-weight: 500;
    }
  }
}

#main_contents{
  width: 100%;
  /*height: auto;*/
  @include clearfix;

  .inner{
    /*position: relative;*/
    @include wrap;
    @include clearfix;
    /*height: 475px;*/

    .service{
      /*position: absolute;*/
      display: block;
      width: 100%;
      height: 441px;
      margin: 30px auto 0;
      background: url("../img/service.jpg") center center no-repeat;
      /*border: 1px solid #000;*/


      ul{
        /*position: relative;*/
        width: 920px;
        margin: 0 auto;
        padding: 85px 0 0;

        li{
          float: left;
          width: 304px;
          height: 330px;
          list-style: none;
          background-color: #53391f;
        }

        .center{
          margin: 0 4px;
        }

          li dl,
          .center dl{
            margin: 0;
            padding: 0;

            dt{
              margin: 0;
              height: 103px;
            }

            dd{
              color: $fCol02;
            }

            .strong{
              margin: 10px 0 6px 10px;
              font-size: 12px;

              span{
                font-size: 17px;
                font-weight: bold;
              }
            }

            .cap{
              margin-left: 10px;
              height: 60px;
              font-size: 15px;
              font-family: "A-OTF Shin Go Pro";
            }

            .text{
              margin: 0 0 20px 10px;
              padding-left: 8px;
              width: 265px;
              border-left: 5px solid #382009;
              line-height: 1.5em;
            }

            .btn{
              width: 160px;
              margin: 0 auto;
            }
          }
      }
    }

    .message{
      margin-top: 20px;
      height: 220px;
      background: url("../img/message.jpg") center center no-repeat;

      .mes_text{
        float: left;
        margin: 30px 0 0 35px;
        width: 580px;

        h2{
          margin: 0;
          padding-left: 45px;
          font-size: 16px;
          font-family: "A-OTF Shin Go Pro";
        }
      }

      .mes_photo{
        float: right;
        margin-top: 25px;
        width: 296px;
        height: 175px;
      }
    }
  }
}

.to_top{
  width: 950px;
  height: 23px;
  margin: 40px auto 0;
  text-align: right;
}

#footer{
  width: 100%;
  height: 218px;
  background: url("../img/footer_bg.jpg") no-repeat;
  background-size: cover;

  .inner{
    @include wrap;
    padding-top: 20px;
    height: 218px;

    p{
      margin: 0;
    }

    ul{
      width: 500px;
      margin: 0 auto;
      padding: 0;
      font-size: 0;

      li{
        display: inline-block;
        width: 100px;
        list-style: none;

        a{
          display: block;
          text-align: center;
          text-decoration: none;
          color: $fCol02;
        }
        .first{
          text-align: left;
        }
        .last{
          text-align: right;
        }
      }
    }

    .f_info{
      width: 530px;
      height: 85px;
      margin: 50px auto 0;
      .f_logo{
        float: left;
        .dial{
          width: 148px;
          /*height: 20px;*/
          padding: 0 0 13px 32px;
          font-size: 24px;
          font-family: "Garamond";
          font-weight: bold;
          line-height: 1;
          letter-spacing: 0.07em;
          color: $fCol02;
          background: url("../img/dial.png")  0 3px no-repeat;
        }
      }

      .f_infobox{
        float: right;
        padding: 0;
        width: 320px;
        height: 70px;
        color: $fCol02;
        p{
          margin: 0;
          line-height: 1.8em;
          font-size: 13px;
        }
        .tf{
          font-family: "Garamond";
          span{
            padding-right: 15px;
            font-size: 20px;
            font-family: "Garamond";
            font-weight: bold;
          }
        }
      }
    }
  }
}

.copyright{
  width: 100%;
  padding: 0;
  text-align: center;
  font-size: 9px;
  background-color: #331e0a;
  color: $fCol02;

  p{
    margin: 0;
    padding: 6px 0;
  }
}

/* -------------------------------------------------- ボトムページ共通*/
#btm_inner{
  @include wrap;
  @include clearfix;
  padding-top: 20px;

  .sidebar{
    float: left;
    width: 285px;
    height: auto;
    /*border: 1px solid #000;*/

    .side_ttl {
      margin: 0;
      padding: 10px 0 10px 15px;
      background-color: #c4c4c4;
      font-size: 13px;
      font-family: "A-OTF Shin Go Pro";
      color: $fCol02;
      line-height: 1.2;
    }

    .case_ichiran{
      margin: 10px 0 20px 0;
      height: 650px;
      background: url("../img/case_ichiran_bg.jpg") no-repeat;

      dl{
        margin: 0 auto;
        width: 255px;

        dt{
          padding: 5px 0 0 35px;
          height: 39px;
          font-size: 14px;
          font-weight: bold;
        }

        .tenpo{
          background: url("../img/tenpo_bg.gif") no-repeat;
        }

        .manshon{
          background: url("../img/manshon_bg.gif") no-repeat;
        }

        .kodate{
          background: url("../img/kodate_bg.gif")  no-repeat;
        }

        .other{
          background: url("../img/other_bg.gif") no-repeat;
        }

        dd{
          margin: 0;
          padding: 7px 0;
          border-bottom: 1px dotted #ededed;
          background: url("../img/yajirushi.gif") 100% 50% no-repeat;

          a{
            color: $fCol01;
            text-decoration: none;
          }
        }
      }
    }

    .side_banner p{
      margin: 0;
      padding: 0;
      background-color: transparent;

      a img{
        margin: 0;
      }
    }

    .side_banner .reason{
      margin: 8px 0;
    }

    .side_banner .request{
      margin: 18px 0 10px 0;
    }

    .side_contact{
      margin-top: 20px;
      padding-bottom: 15px;
      border: 1px solid #efefef;

      p{
        margin: 0;
        padding: 3px 0 0 32px;
        height: 38px;
        font-size: 14px;
        font-family: "A-OTF Shin Go Pro";
        color: $fCol02;
        background: url("../img/side_contact_bg.gif") no-repeat;
      }

      dl{
        margin: 7px auto 0;
        width: 235px;

        dt{
          height: 28px;
          padding-left: 33px;
          font-size: 34px;
          font-weight: bold;
          font-family: "Garamond";
          background: url("../img/side_tel.gif") no-repeat;
        }

        dd{
          margin: 0;
        }
      }

      .side_btn{
        margin: 13px auto 0;
        padding: 0;
        width: 254px;
        background: none;
      }
    }
  }/*sidebar*/

  .btm_main_contens{
    float: right;
    width: 650px;
    height: auto;


    h2{
      margin: 0;
      padding: 4px 0 0 15px;
      height: 35px;
      font-size: 16px;
      font-family: "A-OTF Shin Go Pro";
      font-weight: 500;
      background: url("../img/bmc_ttl_bg.gif") no-repeat;
      color: $fCol02;

      span{
        float: right;
        margin-right: 15px;
        font-size: 9px;
        font-weight: 300;
      }
    }

    h3{
      margin: 0;
      padding: 2px 0 0 28px;
      height: 25px;
      font-size: 13px;
      color: $fCol02;
      background: url("../img/bmc_subttl_bg.gif") no-repeat;
      a{
        text-decoration: none;
        color: #fff;
        &:hover{
          cursor: default;
        }
      }
    }
  }/*btm_main_contens*/
}/*btm_inner*/


/* -------------------------------------------------- 寿塗装について*/
#btm_inner .btm_main_contens{

  p{
    margin: 0;
    line-height: 1.6;
  }

  .intro{
    padding-bottom: 25px;

    .lead{
      margin: 16px 0 15px;
      font-size: 14px;
      font-weight: bold;
    }
  }

  .section01{
    @include clearfix;
    padding: 13px 0 20px 0;
    border-bottom: 1px dotted #b2b2b2;
  }

  .section01_last{
    @include clearfix;
    padding: 13px 0 35px 0;
  }

  .section01,
  .section01_last{
    .sub_ttl01{
      float: left;
      margin: 0;
      padding-left: 55px;
      font-size: 15px;
      font-weight: bold;
      background: url("../img/our_service/strength01.gif") 0 0 no-repeat;
    }

    .img01{
      float: right;
      height: 212px;
      margin: 8px 0 0;
    }

    .img02{
      float: right;
      height: 212px;
      margin: 0 0 20px;
    }

    .img05{
      margin: 5px 0 20px;
    }

    .lead01{
      float: left;
      margin: 18px 0 0;
      width: 375px;
      line-height: 1.6;
    }

    .sub_ttl02{
      margin: 0;
      padding-left: 55px;
      font-size: 15px;
      font-weight: bold;
      background: url("../img/our_service/strength02.gif") 0 0 no-repeat;
    }

    .lead02{
      margin: 18px 0 0;
      line-height: 1.6;
    }

    .sub_ttl03{
      float: left;
      margin: 0;
      padding-left: 55px;
      font-size: 15px;
      font-weight: bold;
      background: url("../img/our_service/strength03.gif") 0 0 no-repeat;
    }

    .lead03{
      clear: both;
      margin: 0;
      line-height: 1.6;
    }

    .lead04{
      float: left;
      margin: 0;
      width: 375px;
      line-height: 1.6;
    }
  }

  .section01_last{
    .caution_box01{
      float: left;
      width: 320px;
      margin: 0;
      padding: 0;
    }

    .caution_box02{
      float: right;
      width: 320px;
      margin: 0;
      padding: 0;
    }

    .caution_box01 li,
    .caution_box02 li{
      @include clearfix;
      list-style: none;
    }

    .caution_box01 .second,
    .caution_box02 .second{
      margin: 20px 0;
    }

    .caution_box01 li,
    .caution_box02 li,
    .caution_box01 .second,
    .caution_box02 .second{
      .img03{
        float: left;
        width: 109px;
        height: 97px;
        margin: 0;
      }

      .lead_box{
        float: right;
        width: 195px;
        height: 97px;
        margin: 0;
        line-height: 1.6;

        .sub_ttl04{
          margin: 0;
          padding: 0 0 5px 15px;
          font-weight: bold;
          background: url("../img/our_service/caution_list.gif") 0 2px no-repeat;
        }
      }
    }
  }

  .cap{
    margin: 20px 0 25px;
  }

  .section02{
    @include clearfix;
    padding: 20px 0;
    border-bottom: 1px dotted #b2b2b2;
    background: #f8f8f8;
  }

  .section02_last{
    @include clearfix;
    padding: 20px 0;
    margin-bottom: 25px;
    background: #f8f8f8;
  }

  .section02,
  .section02_last{
    h4{
      padding-left: 100px;
      margin: 0;
      font-size: 15px;
      font-weight: bold;
    }

    .sub_ttl05{
      background: url("../img/our_service/request01.gif") 20px 0 no-repeat;
    }

    .sub_ttl06{
      background: url("../img/our_service/request02.gif") 20px 0 no-repeat;
    }

    .sub_ttl07{
      background: url("../img/our_service/request03.gif") 20px 0 no-repeat;
    }

    .sub_ttl08{
      background: url("../img/our_service/request04.gif") 20px 0 no-repeat;
    }

    .sub_ttl09{
      background: url("../img/our_service/request05.gif") 20px 0 no-repeat;
    }

    .request_box{
      @include clearfix;
      width: 622px;
      margin-top: 20px;
      padding-left: 20px;


      .img04{
        float: left;
        width: 180px;
        height: 127px;
      }

      .lead06{
        float: right;
        width: 425px;

        a{
          color: #b40000;
          text-decoration: none;
        }

        img{
          margin-top: 25px;
        }
      }
    }
  }
}

/* -------------------------------------------------- 施工事例*/
#btm_inner .btm_main_contens{

  p{
    margin: 0;
    line-height: 1.6;
  }

  .case_outline{
    margin: 20px 0 60px;
  }

  .case_section{
    @include clearfix;
    margin-bottom: 20px;
    padding: 15px 0;
    border-bottom: 1px dotted #b2b2b2;
  }

  .case_section_last{
    @include clearfix;
    padding: 15px 0 35px;
  }

  .case_section,
  .case_section_last{
    .before_img{
      position: relative;
      float: left;
      width: 199px;
      height: 176px;

      span{
        position: absolute;
        top: 5%;
        left: 5%;
        font-size: 10px;
        font-weight: bold;
      }
    }

    .after_img{
      position: relative;
      float: left;
      width: 199px;
      height: 176px;
      margin: 0 15px;

      span{
        position: absolute;
        top: 5%;
        left: 5%;
        font-size: 10px;
        font-weight: bold;
      }
    }

    dl{
      float: right;
      width: 220px;
      margin: 0;
      padding: 0;

      dt{
        clear: left;
        float: left;
        width: 70px;
        margin: 0;
        padding: 0;
        line-height: 2.3;
        border-bottom: 1px dotted #b2b2b2;
      }

      dd{
        margin: 0;
        padding: 0;
        line-height: 2.3;
        border-bottom: 1px dotted #b2b2b2;
      }

      .last{
        width: 100%;
        border-bottom: none;
      }
    }
  }

  .pager-area{
    @include clearfix;
    margin-bottom: 20px;

    ul{
      width: 210px;
      margin: 0 auto;
      padding: 0;
      font-size: 0;
      line-height: 2.1;

      li{
        /*display: inline-block;*/
        float: left;
        list-style: none;
        font-size: 14px;
        border: 1px solid #382009;
        a{
          display: block;
          width: 28px;
          height: 28px;
          /*line-height: 2.1;*/
          text-align: center;
          text-decoration: none;
          color: #382009;

          &:hover{
            background: #382009;
            color: $fCol02;
          }
        }
      }
      .active{
        background: #382009;
        color: $fCol02;
        text-align: center;
        span{
          display: block;
          width: 28px;
          height: 28px;
          /*line-height: 2.1;*/
        }
      }
    }
  }
}/*#btm_inner .btm_main_contens*/

/* -------------------------------------------------- 会社概要*/
#btm_inner .btm_main_contens{

  p{
    margin: 0;
    line-height: 1.6;
  }

  #aisatsu{
    margin-top: 20px;
  }

  .au_section{
    @include clearfix;
    margin-bottom: 20px;
    padding: 20px 0;


    .daihyo{
      text-align: right;

      span{
        font-size: 18px;
        text-align: right;
      }
    }

    dl{
      width: 100%;
      margin: 0;
      padding: 0;

      dt{
        clear: left;
        float: left;
        width: 140px;
        margin: 0;
        padding: 0 0 0 15px;
        line-height: 3.2;
        font-weight: bold;
        border-bottom: 1px dotted #b2b2b2;
      }

      dd{
        margin: 0;
        padding: 0;
        line-height: 3.2;
        border-bottom: 1px dotted #b2b2b2;
      }

      .large{
        height: 78px;
      }
    }

    .gmap{
      margin: 10px 0;
    }

    p a{
      float: right;
      text-decoration: none;
      color: #b40000;
    }
  }
}


/* -------------------------------------------------- お問い合わせ*/
#btm_inner .btm_main_contens{
  .con_section{
    padding: 20px 0 40px;

    dl{
      margin: 27px 0 0;
      padding: 0;

      .tel{
        margin: 0;
        padding: 0 0 10px 33px;
        font-size: 34px;
        font-weight: bold;
        font-family: "Garamond";
        background: url("../img/side_tel.gif") no-repeat;
      }

      dd{
        margin: 0;
        font-size: 14px;
        line-height: 1.1;
      }
    }
  }
}/*#btm_inner .btm_main_contens*/






























