@charset "utf-8";
/* *****************************
 *
 * Import file to Scss or Sass.
 *
 **************************** */


@mixin wrap {
   width: 950px;
   margin: 0 auto;
}
$fCol01: #202020;
$fCol02: #fff;
$support-ie6: false;
$support-ie7: true;
$support-ie8: true;
$support-ie9: true;
$support-mozilla: true;
$support-webkit : true;
$support-opera  : true;
@mixin clearfix {
        @if $support-ie6 or $support-ie7 {
            *zoom: 1;
        }
        &:after {
            content: "."; 
            display: block;
            clear: both;
            height: 0; 
            visibility: hidden;
        }
}

body{
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: 'メイリオ','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro',Meiryo,'ＭＳ ゴシック',sans-serif;
  line-height: 24px;
  color: $fCol01;
}

#header{
  width: 100%;
  height: 168px;
  background: url("../img/header_bg.jpg") no-repeat;
  background-size: cover;

  .inner{
    @include wrap;
    @include clearfix;
    height: 168px;

    h1{
      float: left;
      margin: 0;
      padding: 48px 0 48px 28px;
      width: 382px;
      background-color: #382009;
    }

    .info{
      float: right;
      width: 500px;
      /*border: 1px solid #000;*/

      p{
        float: right;
        margin: 0;
        padding: 8px 0 12px;
        font-size: 10px;
        color: $fCol02;
        /*border: 1px solid #000;*/
      }

      dl{
        float: left;
        margin: 0 0 0 113px;
        color: $fCol02;

        dt{
          padding-left: 33px;
          font-size: 28px;
          font-family: "Garamond";
          background: url("../img/tel_icon.png") no-repeat;
         }

        dd{
          margin: 0;
          font-size: 10px;
          font-weight: 100;
        }
      }

      .contact{
        margin: 0;
        padding: 0;
      }

      .gnav{
        @include clearfix;
        position: absolute;
        margin-top: 110px;

        ul{
          margin: 0;
          padding: 0;
          font-size: 0;

          li{
            display: inline-block;
            list-style: none;

            dl{
              width: 100px;
              margin: 0;
              /*border: 1px solid #000;*/

              dt{
                padding: 0;
                font-size: 14px;
                font-family: "A-OTF Shin Go Pro";
                text-align: center;
                background: none;
              }

              .first01{
                text-align: left;
              }

              .last01{
                text-align: right;
              }

              dd{
                font-size: 10px;
                font-family: "A-OTF Shin Go Pro";
                text-align: center;
              }

              .first02{
                padding-right: 10px;
                text-align: none;
              }

              .last02{
                padding-left: 10px;
              }
            }
          }
        }
      }
    }
  }
}

#main_img{
  width: 100%;
  height: 192px;
  background: url("../img/main.jpg") center center no-repeat;
  border-top: 3px solid #53391f;
  border-bottom: 3px solid #53391f;

  .inner{
    @include wrap;
    @include clearfix;

    h2{
      margin-left: 152px;
      font-size: 35px;
      font-family: "A-OTF Ryumin Pro";
    }

    p{
      margin-left: 152px;
      font-weight: 500;
    }
  }
}

#main_contents{
  width: 100%;
  /*height: auto;*/
  @include clearfix;

  .inner{
    /*position: relative;*/
    @include wrap;
    @include clearfix;
    /*height: 475px;*/

    .service{
      /*position: absolute;*/
      display: block;
      width: 100%;
      height: 441px;
      margin: 30px auto 0;
      background: url("../img/service.jpg") center center no-repeat;
      /*border: 1px solid #000;*/


      ul{
        /*position: relative;*/
        width: 920px;
        margin: 0 auto;
        padding: 85px 0 0;

        li{
          float: left;
          width: 304px;
          height: 330px;
          list-style: none;
          background-color: #53391f;
        }

        .center{
          margin: 0 4px;
        }

          li dl,
          .center dl{
            margin: 0;
            padding: 0;

            dt{
              margin: 0;
              height: 103px;
            }

            dd{
              color: $fCol02;
            }

            .strong{
              margin: 10px 0 6px 10px;
              font-size: 12px;

              span{
                font-size: 17px;
                font-weight: bold;
              }
            }

            .cap{
              margin-left: 10px;
              height: 60px;
              font-size: 15px;
              font-family: "A-OTF Shin Go Pro";
            }

            .text{
              margin: 0 0 20px 10px;
              padding-left: 8px;
              width: 265px;
              border-left: 5px solid #382009;
              line-height: 1.5em;
            }

            .btn{
              width: 160px;
              margin: 0 auto;
            }
          }
      }
    }

    .message{
      margin-top: 20px;
      height: 220px;
      background: url("../img/message.jpg") center center no-repeat;

      .mes_text{
        float: left;
        margin: 30px 0 0 35px;
        width: 580px;

        h2{
          margin: 0;
          padding-left: 45px;
          font-size: 16px;
          font-family: "A-OTF Shin Go Pro";
        }
      }

      .mes_photo{
        float: right;
        margin-top: 25px;
        width: 296px;
        height: 175px;
      }
    }
  }
}

.to_top{
  width: 950px;
  height: 23px;
  margin: 40px auto 0;
  text-align: right;
}

#footer{
  width: 100%;
  height: 218px;
  background: url("../img/footer_bg.jpg") no-repeat;
  background-size: cover;

  .inner{
    @include wrap;
    padding-top: 20px;
    height: 218px;

    ul{
      width: 500px;
      margin: 0 auto;
      padding: 0;
      font-size: 0;

      li{
        display: inline-block;
        list-style: none;

        a{
          display: block;
          text-align: center;
          text-decoration: none;
          color: $fCol02;

          dl{
            width: 100px;
            margin: 0;

            dt{
              padding: 0;
              font-size: 14px;
              font-family: "A-OTF Shin Go Pro";
              text-align: center;
              background: none;
              }

            .first01{
              text-align: left;
            }

            .last01{
              text-align: right;
            }

            dd{
              margin: 0 auto;
              font-size: 10px;
              font-family: "A-OTF Shin Go Pro";
              font-weight: 100;
            }

            .first02{
              text-align: left;
              padding-left: 28px;
            }

            .last02{
              text-align: right;
              margin: 0;
              padding-right: 20px;
            }
          }
        }
      }
    }

    .f_info{
      width: 530px;
      height: 85px;
      margin: 50px auto 0;
    }

    .f_logo{
      float: left;
      margin-top: 15px;
    }

    .f_infobox{
      float: right;
      padding: 0;
      width: 320px;
      height: 70px;
      color: $fCol02;
    }

    p{
      margin: 0;
      line-height: 1.8em;
      font-size: 13px;

      span{
        font-size: 17px;
        font-weight: 500;
      }
    }
  }
}

.copyright{
  width: 100%;
  padding: 0;
  text-align: center;
  font-size: 9px;
  background-color: #331e0a;
  color: $fCol02;

  p{
    margin: 0;
    padding: 6px 0;
  }
}











