@charset "UTF-8";
/* *****************************
 *
 * Import file to Scss or Sass.
 *
 **************************** */
body {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: 'メイリオ','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro',Meiryo,'ＭＳ ゴシック',sans-serif;
  line-height: 24px;
  color: #202020;
}

#header {
  width: 100%;
  height: 168px;
  background: url("../img/header_bg.jpg") no-repeat;
  background-size: cover;
}

#header .inner {
  width: 950px;
  margin: 0 auto;
  *zoom: 1;
  height: 168px;
}

#header .inner:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#header .inner h1 {
  float: left;
  margin: 0;
  padding: 48px 0 48px 28px;
  width: 382px;
  background-color: #382009;
}

#header .inner .info {
  float: right;
  width: 500px;
  /*border: 1px solid #000;*/
}

#header .inner .info p {
  float: right;
  margin: 0;
  padding: 8px 0 12px;
  font-size: 10px;
  color: #fff;
  /*border: 1px solid #000;*/
}

#header .inner .info dl {
  float: left;
  margin: 0 0 0 113px;
  color: #fff;
}

#header .inner .info dl dt {
  padding-left: 33px;
  font-size: 28px;
  font-family: "Garamond";
  background: url("../img/tel_icon.png") no-repeat;
}

#header .inner .info dl dd {
  margin: 0;
  font-size: 10px;
  font-weight: 100;
}

#header .inner .info .contact {
  margin: 0;
  padding: 0;
}

#header .inner .info .gnav {
  *zoom: 1;
  position: absolute;
  margin-top: 110px;
}

#header .inner .info .gnav:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#header .inner .info .gnav ul {
  margin: 0;
  padding: 0;
  font-size: 0;
}

#header .inner .info .gnav ul li {
  display: inline-block;
  width: 100px;
  list-style: none;
}

#header .inner .info .gnav ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  text-align: center;
}

#header .inner .info .gnav ul li .first {
  text-align: left;
}

#header .inner .info .gnav ul li .last {
  text-align: right;
}

#main_img {
  width: 100%;
  height: 192px;
  background: url("../img/main.jpg") center center no-repeat;
  border-top: 3px solid #53391f;
  border-bottom: 3px solid #53391f;
}

#main_img .inner {
  width: 950px;
  margin: 0 auto;
  *zoom: 1;
}

#main_img .inner:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#main_img .inner h2 {
  margin-left: 152px;
  font-size: 35px;
  font-family: "A-OTF Ryumin Pro";
}

#main_img .inner p {
  margin-left: 152px;
  font-weight: 500;
}

#main_contents {
  width: 100%;
  /*height: auto;*/
  *zoom: 1;
}

#main_contents:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#main_contents .inner {
  /*position: relative;*/
  width: 950px;
  margin: 0 auto;
  *zoom: 1;
  /*height: 475px;*/
}

#main_contents .inner:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#main_contents .inner .service {
  /*position: absolute;*/
  display: block;
  width: 100%;
  height: 441px;
  margin: 30px auto 0;
  background: url("../img/service.jpg") center center no-repeat;
  /*border: 1px solid #000;*/
}

#main_contents .inner .service ul {
  /*position: relative;*/
  width: 920px;
  margin: 0 auto;
  padding: 85px 0 0;
}

#main_contents .inner .service ul li {
  float: left;
  width: 304px;
  height: 330px;
  list-style: none;
  background-color: #53391f;
}

#main_contents .inner .service ul .center {
  margin: 0 4px;
}

#main_contents .inner .service ul li dl,
#main_contents .inner .service ul .center dl {
  margin: 0;
  padding: 0;
}

#main_contents .inner .service ul li dl dt,
#main_contents .inner .service ul .center dl dt {
  margin: 0;
  height: 103px;
}

#main_contents .inner .service ul li dl dd,
#main_contents .inner .service ul .center dl dd {
  color: #fff;
}

#main_contents .inner .service ul li dl .strong,
#main_contents .inner .service ul .center dl .strong {
  margin: 10px 0 6px 10px;
  font-size: 12px;
}

#main_contents .inner .service ul li dl .strong span,
#main_contents .inner .service ul .center dl .strong span {
  font-size: 17px;
  font-weight: bold;
}

#main_contents .inner .service ul li dl .cap,
#main_contents .inner .service ul .center dl .cap {
  margin-left: 10px;
  height: 60px;
  font-size: 15px;
  font-family: "A-OTF Shin Go Pro";
}

#main_contents .inner .service ul li dl .text,
#main_contents .inner .service ul .center dl .text {
  margin: 0 0 20px 10px;
  padding-left: 8px;
  width: 265px;
  border-left: 5px solid #382009;
  line-height: 1.5em;
}

#main_contents .inner .service ul li dl .btn,
#main_contents .inner .service ul .center dl .btn {
  width: 160px;
  margin: 0 auto;
}

#main_contents .inner .message {
  margin-top: 20px;
  height: 220px;
  background: url("../img/message.jpg") center center no-repeat;
}

#main_contents .inner .message .mes_text {
  float: left;
  margin: 30px 0 0 35px;
  width: 580px;
}

#main_contents .inner .message .mes_text h2 {
  margin: 0;
  padding-left: 45px;
  font-size: 16px;
  font-family: "A-OTF Shin Go Pro";
}

#main_contents .inner .message .mes_photo {
  float: right;
  margin-top: 25px;
  width: 296px;
  height: 175px;
}

.to_top {
  width: 950px;
  height: 23px;
  margin: 40px auto 0;
  text-align: right;
}

#footer {
  width: 100%;
  height: 218px;
  background: url("../img/footer_bg.jpg") no-repeat;
  background-size: cover;
}

#footer .inner {
  width: 950px;
  margin: 0 auto;
  padding-top: 20px;
  height: 218px;
}

#footer .inner p {
  margin: 0;
}

#footer .inner ul {
  width: 500px;
  margin: 0 auto;
  padding: 0;
  font-size: 0;
}

#footer .inner ul li {
  display: inline-block;
  width: 100px;
  list-style: none;
}

#footer .inner ul li a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

#footer .inner ul li .first {
  text-align: left;
}

#footer .inner ul li .last {
  text-align: right;
}

#footer .inner .f_info {
  width: 530px;
  height: 85px;
  margin: 50px auto 0;
}

#footer .inner .f_info .f_logo {
  float: left;
}

#footer .inner .f_info .f_logo .dial {
  width: 148px;
  /*height: 20px;*/
  padding: 0 0 13px 32px;
  font-size: 24px;
  font-family: "Garamond";
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.07em;
  color: #fff;
  background: url("../img/dial.png") 0 3px no-repeat;
}

#footer .inner .f_info .f_infobox {
  float: right;
  padding: 0;
  width: 320px;
  height: 70px;
  color: #fff;
}

#footer .inner .f_info .f_infobox p {
  margin: 0;
  line-height: 1.8em;
  font-size: 13px;
}

#footer .inner .f_info .f_infobox .tf {
  font-family: "Garamond";
}

#footer .inner .f_info .f_infobox .tf span {
  padding-right: 15px;
  font-size: 20px;
  font-family: "Garamond";
  font-weight: bold;
}

.copyright {
  width: 100%;
  padding: 0;
  text-align: center;
  font-size: 9px;
  background-color: #331e0a;
  color: #fff;
}

.copyright p {
  margin: 0;
  padding: 6px 0;
}

/* -------------------------------------------------- ボトムページ共通*/
#btm_inner {
  width: 950px;
  margin: 0 auto;
  *zoom: 1;
  padding-top: 20px;
  /*sidebar*/
  /*btm_main_contens*/
}

#btm_inner:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#btm_inner .sidebar {
  float: left;
  width: 285px;
  height: auto;
  /*border: 1px solid #000;*/
}

#btm_inner .sidebar .side_ttl {
  margin: 0;
  padding: 10px 0 10px 15px;
  background-color: #c4c4c4;
  font-size: 13px;
  font-family: "A-OTF Shin Go Pro";
  color: #fff;
  line-height: 1.2;
}

#btm_inner .sidebar .case_ichiran {
  margin: 10px 0 20px 0;
  height: 650px;
  background: url("../img/case_ichiran_bg.jpg") no-repeat;
}

#btm_inner .sidebar .case_ichiran dl {
  margin: 0 auto;
  width: 255px;
}

#btm_inner .sidebar .case_ichiran dl dt {
  padding: 5px 0 0 35px;
  height: 39px;
  font-size: 14px;
  font-weight: bold;
}

#btm_inner .sidebar .case_ichiran dl .tenpo {
  background: url("../img/tenpo_bg.gif") no-repeat;
}

#btm_inner .sidebar .case_ichiran dl .manshon {
  background: url("../img/manshon_bg.gif") no-repeat;
}

#btm_inner .sidebar .case_ichiran dl .kodate {
  background: url("../img/kodate_bg.gif") no-repeat;
}

#btm_inner .sidebar .case_ichiran dl .other {
  background: url("../img/other_bg.gif") no-repeat;
}

#btm_inner .sidebar .case_ichiran dl dd {
  margin: 0;
  padding: 7px 0;
  border-bottom: 1px dotted #ededed;
  background: url("../img/yajirushi.gif") 100% 50% no-repeat;
}

#btm_inner .sidebar .case_ichiran dl dd a {
  color: #202020;
  text-decoration: none;
}

#btm_inner .sidebar .side_banner p {
  margin: 0;
  padding: 0;
  background-color: transparent;
}

#btm_inner .sidebar .side_banner p a img {
  margin: 0;
}

#btm_inner .sidebar .side_banner .reason {
  margin: 8px 0;
}

#btm_inner .sidebar .side_banner .request {
  margin: 18px 0 10px 0;
}

#btm_inner .sidebar .side_contact {
  margin-top: 20px;
  padding-bottom: 15px;
  border: 1px solid #efefef;
}

#btm_inner .sidebar .side_contact p {
  margin: 0;
  padding: 3px 0 0 32px;
  height: 38px;
  font-size: 14px;
  font-family: "A-OTF Shin Go Pro";
  color: #fff;
  background: url("../img/side_contact_bg.gif") no-repeat;
}

#btm_inner .sidebar .side_contact dl {
  margin: 7px auto 0;
  width: 235px;
}

#btm_inner .sidebar .side_contact dl dt {
  height: 28px;
  padding-left: 33px;
  font-size: 34px;
  font-weight: bold;
  font-family: "Garamond";
  background: url("../img/side_tel.gif") no-repeat;
}

#btm_inner .sidebar .side_contact dl dd {
  margin: 0;
}

#btm_inner .sidebar .side_contact .side_btn {
  margin: 13px auto 0;
  padding: 0;
  width: 254px;
  background: none;
}

#btm_inner .btm_main_contens {
  float: right;
  width: 650px;
  height: auto;
}

#btm_inner .btm_main_contens h2 {
  margin: 0;
  padding: 4px 0 0 15px;
  height: 35px;
  font-size: 16px;
  font-family: "A-OTF Shin Go Pro";
  font-weight: 500;
  background: url("../img/bmc_ttl_bg.gif") no-repeat;
  color: #fff;
}

#btm_inner .btm_main_contens h2 span {
  float: right;
  margin-right: 15px;
  font-size: 9px;
  font-weight: 300;
}

#btm_inner .btm_main_contens h3 {
  margin: 0;
  padding: 2px 0 0 28px;
  height: 25px;
  font-size: 13px;
  color: #fff;
  background: url("../img/bmc_subttl_bg.gif") no-repeat;
}

#btm_inner .btm_main_contens h3 a {
  text-decoration: none;
  color: #fff;
}

#btm_inner .btm_main_contens h3 a:hover {
  cursor: default;
}

/*btm_inner*/
/* -------------------------------------------------- 寿塗装について*/
#btm_inner .btm_main_contens p {
  margin: 0;
  line-height: 1.6;
}

#btm_inner .btm_main_contens .intro {
  padding-bottom: 25px;
}

#btm_inner .btm_main_contens .intro .lead {
  margin: 16px 0 15px;
  font-size: 14px;
  font-weight: bold;
}

#btm_inner .btm_main_contens .section01 {
  *zoom: 1;
  padding: 13px 0 20px 0;
  border-bottom: 1px dotted #b2b2b2;
}

#btm_inner .btm_main_contens .section01:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#btm_inner .btm_main_contens .section01_last {
  *zoom: 1;
  padding: 13px 0 35px 0;
}

#btm_inner .btm_main_contens .section01_last:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#btm_inner .btm_main_contens .section01 .sub_ttl01,
#btm_inner .btm_main_contens .section01_last .sub_ttl01 {
  float: left;
  margin: 0;
  padding-left: 55px;
  font-size: 15px;
  font-weight: bold;
  background: url("../img/our_service/strength01.gif") 0 0 no-repeat;
}

#btm_inner .btm_main_contens .section01 .img01,
#btm_inner .btm_main_contens .section01_last .img01 {
  float: right;
  height: 212px;
  margin: 8px 0 0;
}

#btm_inner .btm_main_contens .section01 .img02,
#btm_inner .btm_main_contens .section01_last .img02 {
  float: right;
  height: 212px;
  margin: 0 0 20px;
}

#btm_inner .btm_main_contens .section01 .img05,
#btm_inner .btm_main_contens .section01_last .img05 {
  margin: 5px 0 20px;
}

#btm_inner .btm_main_contens .section01 .lead01,
#btm_inner .btm_main_contens .section01_last .lead01 {
  float: left;
  margin: 18px 0 0;
  width: 375px;
  line-height: 1.6;
}

#btm_inner .btm_main_contens .section01 .sub_ttl02,
#btm_inner .btm_main_contens .section01_last .sub_ttl02 {
  margin: 0;
  padding-left: 55px;
  font-size: 15px;
  font-weight: bold;
  background: url("../img/our_service/strength02.gif") 0 0 no-repeat;
}

#btm_inner .btm_main_contens .section01 .lead02,
#btm_inner .btm_main_contens .section01_last .lead02 {
  margin: 18px 0 0;
  line-height: 1.6;
}

#btm_inner .btm_main_contens .section01 .sub_ttl03,
#btm_inner .btm_main_contens .section01_last .sub_ttl03 {
  float: left;
  margin: 0;
  padding-left: 55px;
  font-size: 15px;
  font-weight: bold;
  background: url("../img/our_service/strength03.gif") 0 0 no-repeat;
}

#btm_inner .btm_main_contens .section01 .lead03,
#btm_inner .btm_main_contens .section01_last .lead03 {
  clear: both;
  margin: 0;
  line-height: 1.6;
}

#btm_inner .btm_main_contens .section01 .lead04,
#btm_inner .btm_main_contens .section01_last .lead04 {
  float: left;
  margin: 0;
  width: 375px;
  line-height: 1.6;
}

#btm_inner .btm_main_contens .section01_last .caution_box01 {
  float: left;
  width: 320px;
  margin: 0;
  padding: 0;
}

#btm_inner .btm_main_contens .section01_last .caution_box02 {
  float: right;
  width: 320px;
  margin: 0;
  padding: 0;
}

#btm_inner .btm_main_contens .section01_last .caution_box01 li,
#btm_inner .btm_main_contens .section01_last .caution_box02 li {
  *zoom: 1;
  list-style: none;
}

#btm_inner .btm_main_contens .section01_last .caution_box01 li:after,
#btm_inner .btm_main_contens .section01_last .caution_box02 li:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#btm_inner .btm_main_contens .section01_last .caution_box01 .second,
#btm_inner .btm_main_contens .section01_last .caution_box02 .second {
  margin: 20px 0;
}

#btm_inner .btm_main_contens .section01_last .caution_box01 li .img03,
#btm_inner .btm_main_contens .section01_last .caution_box02 li .img03,
#btm_inner .btm_main_contens .section01_last .caution_box01 .second .img03,
#btm_inner .btm_main_contens .section01_last .caution_box02 .second .img03 {
  float: left;
  width: 109px;
  height: 97px;
  margin: 0;
}

#btm_inner .btm_main_contens .section01_last .caution_box01 li .lead_box,
#btm_inner .btm_main_contens .section01_last .caution_box02 li .lead_box,
#btm_inner .btm_main_contens .section01_last .caution_box01 .second .lead_box,
#btm_inner .btm_main_contens .section01_last .caution_box02 .second .lead_box {
  float: right;
  width: 195px;
  height: 97px;
  margin: 0;
  line-height: 1.6;
}

#btm_inner .btm_main_contens .section01_last .caution_box01 li .lead_box .sub_ttl04,
#btm_inner .btm_main_contens .section01_last .caution_box02 li .lead_box .sub_ttl04,
#btm_inner .btm_main_contens .section01_last .caution_box01 .second .lead_box .sub_ttl04,
#btm_inner .btm_main_contens .section01_last .caution_box02 .second .lead_box .sub_ttl04 {
  margin: 0;
  padding: 0 0 5px 15px;
  font-weight: bold;
  background: url("../img/our_service/caution_list.gif") 0 2px no-repeat;
}

#btm_inner .btm_main_contens .cap {
  margin: 20px 0 25px;
}

#btm_inner .btm_main_contens .section02 {
  *zoom: 1;
  padding: 20px 0;
  border-bottom: 1px dotted #b2b2b2;
  background: #f8f8f8;
}

#btm_inner .btm_main_contens .section02:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#btm_inner .btm_main_contens .section02_last {
  *zoom: 1;
  padding: 20px 0;
  margin-bottom: 25px;
  background: #f8f8f8;
}

#btm_inner .btm_main_contens .section02_last:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#btm_inner .btm_main_contens .section02 h4,
#btm_inner .btm_main_contens .section02_last h4 {
  padding-left: 100px;
  margin: 0;
  font-size: 15px;
  font-weight: bold;
}

#btm_inner .btm_main_contens .section02 .sub_ttl05,
#btm_inner .btm_main_contens .section02_last .sub_ttl05 {
  background: url("../img/our_service/request01.gif") 20px 0 no-repeat;
}

#btm_inner .btm_main_contens .section02 .sub_ttl06,
#btm_inner .btm_main_contens .section02_last .sub_ttl06 {
  background: url("../img/our_service/request02.gif") 20px 0 no-repeat;
}

#btm_inner .btm_main_contens .section02 .sub_ttl07,
#btm_inner .btm_main_contens .section02_last .sub_ttl07 {
  background: url("../img/our_service/request03.gif") 20px 0 no-repeat;
}

#btm_inner .btm_main_contens .section02 .sub_ttl08,
#btm_inner .btm_main_contens .section02_last .sub_ttl08 {
  background: url("../img/our_service/request04.gif") 20px 0 no-repeat;
}

#btm_inner .btm_main_contens .section02 .sub_ttl09,
#btm_inner .btm_main_contens .section02_last .sub_ttl09 {
  background: url("../img/our_service/request05.gif") 20px 0 no-repeat;
}

#btm_inner .btm_main_contens .section02 .request_box,
#btm_inner .btm_main_contens .section02_last .request_box {
  *zoom: 1;
  width: 622px;
  margin-top: 20px;
  padding-left: 20px;
}

#btm_inner .btm_main_contens .section02 .request_box:after,
#btm_inner .btm_main_contens .section02_last .request_box:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#btm_inner .btm_main_contens .section02 .request_box .img04,
#btm_inner .btm_main_contens .section02_last .request_box .img04 {
  float: left;
  width: 180px;
  height: 127px;
}

#btm_inner .btm_main_contens .section02 .request_box .lead06,
#btm_inner .btm_main_contens .section02_last .request_box .lead06 {
  float: right;
  width: 425px;
}

#btm_inner .btm_main_contens .section02 .request_box .lead06 a,
#btm_inner .btm_main_contens .section02_last .request_box .lead06 a {
  color: #b40000;
  text-decoration: none;
}

#btm_inner .btm_main_contens .section02 .request_box .lead06 img,
#btm_inner .btm_main_contens .section02_last .request_box .lead06 img {
  margin-top: 25px;
}

/* -------------------------------------------------- 施工事例*/
#btm_inner .btm_main_contens p {
  margin: 0;
  line-height: 1.6;
}

#btm_inner .btm_main_contens .case_outline {
  margin: 20px 0 60px;
}

#btm_inner .btm_main_contens .case_section {
  *zoom: 1;
  margin-bottom: 20px;
  padding: 15px 0;
  border-bottom: 1px dotted #b2b2b2;
}

#btm_inner .btm_main_contens .case_section:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#btm_inner .btm_main_contens .case_section_last {
  *zoom: 1;
  padding: 15px 0 35px;
}

#btm_inner .btm_main_contens .case_section_last:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#btm_inner .btm_main_contens .case_section .before_img,
#btm_inner .btm_main_contens .case_section_last .before_img {
  position: relative;
  float: left;
  width: 199px;
  height: 176px;
}

#btm_inner .btm_main_contens .case_section .before_img span,
#btm_inner .btm_main_contens .case_section_last .before_img span {
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: 10px;
  font-weight: bold;
}

#btm_inner .btm_main_contens .case_section .after_img,
#btm_inner .btm_main_contens .case_section_last .after_img {
  position: relative;
  float: left;
  width: 199px;
  height: 176px;
  margin: 0 15px;
}

#btm_inner .btm_main_contens .case_section .after_img span,
#btm_inner .btm_main_contens .case_section_last .after_img span {
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: 10px;
  font-weight: bold;
}

#btm_inner .btm_main_contens .case_section dl,
#btm_inner .btm_main_contens .case_section_last dl {
  float: right;
  width: 220px;
  margin: 0;
  padding: 0;
}

#btm_inner .btm_main_contens .case_section dl dt,
#btm_inner .btm_main_contens .case_section_last dl dt {
  clear: left;
  float: left;
  width: 70px;
  margin: 0;
  padding: 0;
  line-height: 2.3;
  border-bottom: 1px dotted #b2b2b2;
}

#btm_inner .btm_main_contens .case_section dl dd,
#btm_inner .btm_main_contens .case_section_last dl dd {
  margin: 0;
  padding: 0;
  line-height: 2.3;
  border-bottom: 1px dotted #b2b2b2;
}

#btm_inner .btm_main_contens .case_section dl .last,
#btm_inner .btm_main_contens .case_section_last dl .last {
  width: 100%;
  border-bottom: none;
}

#btm_inner .btm_main_contens .pager-area {
  *zoom: 1;
  margin-bottom: 20px;
}

#btm_inner .btm_main_contens .pager-area:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#btm_inner .btm_main_contens .pager-area ul {
  width: 210px;
  margin: 0 auto;
  padding: 0;
  font-size: 0;
  line-height: 2.1;
}

#btm_inner .btm_main_contens .pager-area ul li {
  /*display: inline-block;*/
  float: left;
  list-style: none;
  font-size: 14px;
  border: 1px solid #382009;
}

#btm_inner .btm_main_contens .pager-area ul li a {
  display: block;
  width: 28px;
  height: 28px;
  /*line-height: 2.1;*/
  text-align: center;
  text-decoration: none;
  color: #382009;
}

#btm_inner .btm_main_contens .pager-area ul li a:hover {
  background: #382009;
  color: #fff;
}

#btm_inner .btm_main_contens .pager-area ul .active {
  background: #382009;
  color: #fff;
  text-align: center;
}

#btm_inner .btm_main_contens .pager-area ul .active span {
  display: block;
  width: 28px;
  height: 28px;
  /*line-height: 2.1;*/
}

/*#btm_inner .btm_main_contens*/
/* -------------------------------------------------- 会社概要*/
#btm_inner .btm_main_contens p {
  margin: 0;
  line-height: 1.6;
}

#btm_inner .btm_main_contens #aisatsu {
  margin-top: 20px;
}

#btm_inner .btm_main_contens .au_section {
  *zoom: 1;
  margin-bottom: 20px;
  padding: 20px 0;
}

#btm_inner .btm_main_contens .au_section:after {
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

#btm_inner .btm_main_contens .au_section .daihyo {
  text-align: right;
}

#btm_inner .btm_main_contens .au_section .daihyo span {
  font-size: 18px;
  text-align: right;
}

#btm_inner .btm_main_contens .au_section dl {
  width: 100%;
  margin: 0;
  padding: 0;
}

#btm_inner .btm_main_contens .au_section dl dt {
  clear: left;
  float: left;
  width: 140px;
  margin: 0;
  padding: 0 0 0 15px;
  line-height: 3.2;
  font-weight: bold;
  border-bottom: 1px dotted #b2b2b2;
}

#btm_inner .btm_main_contens .au_section dl dd {
  margin: 0;
  padding: 0;
  line-height: 3.2;
  border-bottom: 1px dotted #b2b2b2;
}

#btm_inner .btm_main_contens .au_section dl .large {
  height: 78px;
}

#btm_inner .btm_main_contens .au_section .gmap {
  margin: 10px 0;
}

#btm_inner .btm_main_contens .au_section p a {
  float: right;
  text-decoration: none;
  color: #b40000;
}

/* -------------------------------------------------- お問い合わせ*/
#btm_inner .btm_main_contens .con_section {
  padding: 20px 0 40px;
}

#btm_inner .btm_main_contens .con_section dl {
  margin: 27px 0 0;
  padding: 0;
}

#btm_inner .btm_main_contens .con_section dl .tel {
  margin: 0;
  padding: 0 0 10px 33px;
  font-size: 34px;
  font-weight: bold;
  font-family: "Garamond";
  background: url("../img/side_tel.gif") no-repeat;
}

#btm_inner .btm_main_contens .con_section dl dd {
  margin: 0;
  font-size: 14px;
  line-height: 1.1;
}

/*#btm_inner .btm_main_contens*/
